doctype html
html(ng-app='stickyApp')
  head
    title Sticky Notes
    link(href="/css/dependencies/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='MainCtrl', ng-style="styles")
    .navbar.navbar-inverse
      .navbar-header
        a.navbar-brand(href='#')= title
      .container
        button.btn.btn-default.navbar-btn(ng-click='createNote()') Create Note
    .alert.alert-warning.sticky-note(sticky-note='', resizable='', r-directions="['right']", ng-repeat='(id, note) in notes')
      span.glyphicon.glyphicon-trash.delete-btn(ng-click='deleteNote(note.id)', aria-hidden="true")
      input.title(ng-model='note.title', ng-change='updateNote(note)', type='text')
      textarea.body(autosize='', ng-model='note.body', ng-change='updateNote(note)') {{note.body}}

    script(src='/socket.io/socket.io.js')
    script(src='/js/dependencies/jquery-1.11.3.min.js')
    script(src='/js/dependencies/jquery-ui.min.js')
    script(src='/js/dependencies/angular.min.js')
    script(src='/js/dependencies/angular-ui-router.min.js')
    script(src='/js/app.js')
