doctype html
html(ng-app='app')
  head
    title Sticky Notes
    script(src='/socket.io/socket.io.js')
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
    script(src='/js/app.js')
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='MainCtrl')
    .navbar.navbar-inverse
      .navbar-header
        a.navbar-brand(href='#') Sticky Notes
      .collapse.navbar-collapse
        button.btn.btn-default.navbar-btn(ng-click='createNote()') Create Note
    .alert.alert-warning.sticky-note(sticky-note='', ng-repeat='(id, note) in notes', note='note', ondelete='deleteNote(id)')
      button.close(type='button', ng-click='deleteNote(note.id)') ×
      input.title(ng-model='note.title', ng-change='updateNote(note)', type='text')
      textarea.body(ng-model='note.body', ng-change='updateNote(note)') {{note.body}}